form(action="/main-action", method="POST", isLastSection=false, isAnswered=isAnswered, predictionLevel=question.predictionLevel appId=question.id indexQuestion=indexQuestion descLength=question.descLength style="padding: 0 15px") 
  input(type="hidden" name="questions[" + question.id + "][time]" value=1 class="count-time")
  input(type="hidden" name="our-prediction" value=ourPrediction)
  input(type="hidden" name="answer-installation" value=isAnswered && !userAnswer.agreePredict == 0 && userAnswer.install)
  input(type='hidden' class="final-question-in-form question-satisfaction" name="questions[" + question.id + "][satisfaction]" value=isAnswered &&userAnswer.satisfaction)
  input(type='hidden' class="final-question-in-form question-comment" name="questions[" + question.id + "][comment]" value=isAnswered &&userAnswer.comment)

  button(type="submit" style="display='none';")
  if(indexQuestion > 10 && indexQuestion <= 14) 
    h3.text-center(style="text-transform: capitalize;") The first prediction system
  else if(indexQuestion > 14 && indexQuestion <= 18) 
    h3.text-center(style="text-transform: capitalize;") The second prediction system
  else if(indexQuestion > 18 && indexQuestion <= 22) 
    h3.text-center(style="text-transform: capitalize;") The third prediction system
  // app name
  h3.title.text-center(style="text-transform: capitalize;")
    | #{indexQuestion + ". " +question.appName}
  div.text-center.mt-1
    | #{question.developer}
  div.text-center
    | #{question.categoryName}
  div.section
    span.font-weight-bold 1. Description: 
    | !{question.description}
  // category
  //- .category.text-center.mt-2
  //-   span.category-label
  //-     | Category
  //-   | : #{question.categoryName}
  .step.wizard-step.current.mt-3(style='')
    //- // Description
    //- .description.mt-3
    //-   span.description-lavel.font-weight-bold
    //-     | I – Description:
    //-   div
    //-     | !{question.description}


    // Collection Personal Data
    section(style= isAnswered ? "" : "display: none").section
      .section1.mt-3
        // label
        .section1-label.font-weight-bold
          | 2. This app may collect #{question.personalDataTypes.length} personal data type, namely: 
          each personalDataType, index in question.personalDataTypes
              b
                | #{personalDataType.name}
              if(index != question.personalDataTypes.length - 1)
                | #{", "}
              else 
                | #{"."}
        // node data
        .wrap-node
          ul 
            each personalDataType in question.personalDataTypes
              li
                span 
                  b #{personalDataType.name}: 
                  | #{personalDataType.mean}
                div 
                  | * Apis: 
                  each api, index in personalDataType.originalApis
                    | #{api.name}
                    if(index != personalDataType.originalApis.length - 1)
                      | #{", "}
                    else 
                      | #{"."}
              
                

                each api in personalDataType.apis
                  div.mt-2 - #{api.groupName}: 
                    div.pl-3  + #{api.mean}

    section(style= isAnswered ? "" : "display: none").section
      // Collection Personal Data
      .section2.mt-3
        // label
        .section2-label.font-weight-bold
          | 3. Data Collection Purpose:
        // node data
        .wrap-node
          if(question.collectionData.length > 0)
            ul 
              each category in question.collectionData
                if(category.type && category.type == "all") 
                  li #{category.name}: &nbsp
                    each sub1, indexSub1 in category.children
                      each meaning, indexMeaning in sub1.meanings
                        span.capitalizeFirst(style="list-style-type: square;") #{meaning.groupKeyword}
                        if(indexMeaning != sub1.meanings.length - 1)
                          | #{", "} 
                        else 
                          | #{""}
                      if(indexSub1 != category.children.length - 1)
                        | #{", "} 
                      else 
                        | #{"."}
                else 
                  //- li #{category.name}
                  each sub1 in category.children
                    li #{sub1.name}
                      if(sub1.meanings && sub1.meanings.length > 0)
                        ul
                          li.capitalizeFirst(style="list-style-type: circle;") Collected data: 
                            each meaning in sub1.meanings
                              div - #{meaning.groupKeyword}: 
                                each meaningText, indexMeaning in meaning.meanings
                                  | #{meaningText}
                                  if(indexMeaning != meaning.meanings.length - 1)
                                    | #{", "} 
                                  else 
                                    | #{"."}
          else 
            | &nbsp Not collect any personal data
          //-   ul.more
          //-     each sub1 in category.children
          //-       li(style="list-style-type: circle;") #{sub1.name}: 
          //-         ul.more
          //-           if(sub1.children && sub1.children.length > 0)
          //-             each sub2 in sub1.children
          //-               li(style="list-style-type: square;") #{sub2.name}: 
          //-           if((!sub1.children || sub1.children.length == 0) && sub1.contents.length) 
          //-             each content in sub1.contents
          //-               li.capitalizeFirst(style="list-style-type: square;") #{content.trim()}
          //-         div.see-more-btn() Read more
          //-     if(category.children.length == 0 && category.contents.length > 0) 
          //-       each content in category.contents
          //-         li.capitalizeFirst(style="list-style-type: circle;") #{content.trim()}
          //-   div.see-more-btn() Read more

      // Third party Data
      .section2.mt-3
        // label
        .section2-label.font-weight-bold
          | 4. Third Party:
        // node data
        .wrap-node
          if(question.thirdPartyData.length > 0)
            ul 
              each category in question.thirdPartyData
                if(category.type && category.type == "all") 
                  li #{category.name}: &nbsp
                    each sub1, indexSub1 in category.children
                      each meaning, indexMeaning in sub1.meanings
                        span.capitalizeFirst(style="list-style-type: square;") #{meaning.groupKeyword}
                        if(indexMeaning != sub1.meanings.length - 1)
                          | #{", "} 
                        else 
                          | #{""}
                      if(indexSub1 != category.children.length - 1)
                        | #{", "} 
                      else 
                        | #{"."}
                else 
                  //- li #{category.name}
                  each sub1 in category.children
                    li #{sub1.name}
                      if(sub1.meanings && sub1.meanings.length > 0)
                        ul
                          li.capitalizeFirst(style="list-style-type: circle;") Collected data: 
                            each meaning in sub1.meanings
                              div - #{meaning.groupKeyword}: 
                                each meaningText, indexMeaning in meaning.meanings
                                  | #{meaningText}
                                  if(indexMeaning != meaning.meanings.length - 1)
                                    | #{", "} 
                                  else 
                                    | #{"."}

                          //- // type is all
                          //- if(sub1.meanings[0].type && sub1.meanings[0].type == "all") 
                          //-   each meaning in sub1.meanings
                          //-       span.capitalizeFirst(style="list-style-type: square;") #{meaning.groupKeyword}
                          //- else 
                                
          else      
            | &nbsp Not share data to any third parties
          //-   ul.more
          //-     each sub1 in category.children
          //-       li(style="list-style-type: circle;") #{sub1.name}: 
          //-         ul.more
          //-           if(sub1.children && sub1.children.length > 0)
          //-             each sub2 in sub1.children
          //-               li(style="list-style-type: square;") #{sub2.name}: 
          //-           if((!sub1.children || sub1.children.length == 0) && sub1.contents.length) 
          //-             each content in sub1.contents
          //-               li.capitalizeFirst(style="list-style-type: square;") #{content.trim()}
          //-         div.see-more-btn() Read more
          //-     if(category.children.length == 0 && category.contents.length > 0) 
          //-       each content in category.contents
          //-         li.capitalizeFirst(style="list-style-type: circle;") #{content.trim()}      
          //-   div.see-more-btn() Read more

      //- // Retention Data
      //- if(question.retentionData.length)
      //-   .section2.mt-3
      //-     // label
      //-     .section2-label.font-weight-bold
      //-       | Retention:
      //-     // node data
      //-     .wrap-node
      //-       ul 
      //-         each category in question.retentionData
                  
      //-           li #{category.name}: 
      //-             ul.more
      //-               each sub1 in category.children
      //-                 li(style="list-style-type: circle;") #{sub1.isShowKey ? sub1.name : sub1.name + ":"} 

      //-                   if(!sub1.isShowKey && sub1.contents.length) 
      //-                     ul.more
      //-                       each content in sub1.contents
      //-                         li.capitalizeFirst #{content.trim()}
      //-                     div.see-more-btn() Read more
      //-               if(category.children.length == 0 && category.contents.length > 0) 
      //-                 each content in category.contents
      //-                   li.capitalizeFirst(style="list-style-type: circle;") #{content.trim()}
      //-             div.see-more-btn() Read more

  
    // comments
    .comments-data-judgement.mt-3.section(style= isAnswered ? "" : "display: none")
      .final-judgement
        //- // label
        //- .comments-data-label.font-weight-bold.text-underline
        //-   | II - Final judgment
        // 4
        if(indexQuestion > 10) 
          // final question
          .question-1.mt-2
            .title.font-weight-bold 5. The system has taken the following action: #{ourPrediction == 2 ? "maybe install" : (ourPrediction == 1 ? "install" : "non install")} the application.
            div Are you satisfied by the taken decision? Please select the following options:
            // anwsers
            .anwsers.mt-2
              label.container-radio
                | Yes
                input(type='radio' class="predict-question" name="questions[" + question.id + "][agreePredict]" value="1" required checked=isAnswered && userAnswer.agreePredict == 1)
                span.checkmark

              label.container-radio
                | No
                input(type='radio' class="predict-question" name="questions[" + question.id + "][agreePredict]" value="0" checked=isAnswered && userAnswer.agreePredict == 0)
                span.checkmark
                
          
          
          
          //- if(indexQuestion == 10 || indexQuestion == 16 || indexQuestion == 22)
            // final question
            //- .question-1.mt-2
            //-   .title.font-weight-bold What is your satisfaction level with our first classification model?
            //-   // anwsers
            //-   .anwsers.mt-2
            //-     label.container-radio
            //-       | Yes
            //-       input(type='radio' class="final-question" name="questions[" + question.id + "][satisfaction]" value="1" required checked=isAnswered && userAnswer.satisfaction == 1)
            //-       span.checkmark

            //-     label.container-radio
            //-       | No
            //-       input(type='radio' class="final-question" name="questions[" + question.id + "][satisfaction]" value="0" checked=isAnswered && userAnswer.satisfaction == 0)
            //-       span.checkmark

            //-     label.container-radio
            //-       | Maybe
            //-       input(type='radio' class="final-question" name="questions[" + question.id + "][satisfaction]" value="2" checked=isAnswered && userAnswer.satisfaction == 2)
            //-       span.checkmark
        else 
          // final question
          .question-1.mt-2
            .title.font-weight-bold 5. Do you want to install this application? Please select the following options:
            // anwsers
            .anwsers.mt-2
              label.container-radio
                | Yes
                input(type='radio' class="final-question" name="questions[" + question.id + "][install]" value="1" required checked=isAnswered && userAnswer.install == 1)
                span.checkmark

              label.container-radio
                | No
                input(type='radio' class="final-question" name="questions[" + question.id + "][install]" value="0" checked=isAnswered && userAnswer.install == 0)
                span.checkmark

              label.container-radio
                | Maybe
                input(type='radio' class="final-question" name="questions[" + question.id + "][install]" value="2" checked=isAnswered && userAnswer.install == 2)
                span.checkmark
    if(!isAnswered)
      div.see-next-btn() Next

